@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
 
}

body {

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.app-container{
  min-height: 100%;
  
}


.main-container{
  display: flex;
  align-items: flex-end;
  max-height: 100%;
  max-width: 100%;
}

.calculator{
  flex:1;
 display: flex ;
 flex-direction: column;
justify-content: space-between;
height: 100vh;
 
}

.header{

  display: flex ;
  max-width: 100%;
  justify-content: space-between;
  padding: 4px;
}

.output-container{
  align-self: end;
padding: 12px;
display: flex;

flex-direction: column;
align-items: center;
height: 100px;

}

.input{
  font-size: 16px;

}
.result{
  
  font-size: 30px;
}


.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5);
}

.btn{
  padding: 12px 24px;
  font-size: 24px;
}


.history-container{
 width: 200px;
 height: 100%;
 border: 1px solid #ccc;
 padding: 8px;
 display: flex;
 flex-direction: column;
gap: 8px;
 align-items: center;
height: 100vh;
align-self: flex-start;
overflow-y: auto;

}

.history-header{
  display: flex;
  gap: 8px;
}
.clear-history-btn{
  background-color: rgb(231, 43, 43);
  border-radius: 4px;
  border: 1px solid red;
  padding: 2px 6px;
  color: white;
  cursor: pointer;
}

.history-list{
  display: flex;
  flex-direction: column;
  gap: 12px;

}